
<div class="principale-index-prestation w-100">
<h1 class="mt-5 ml-5">Liste des prestations<span class="green-point">.</span></h1>

  <div class="container-index-prestation m-5">
    <div class="list-index-prestations">
      <% @prestations.each do |prestation| %>
        <div class="row list-index-prestation d-flex bg-white p-4 align-items-center">
          <div class="col-xl-4 index-prestations my-2">
            <p class="index-title-prestation"><%= prestation.title %></p>
          </div>
          <div class="col-xl-3 index-prestations my-2">
            <p class="index-date-prestation"><%= l(prestation.start_date, format: '%d %B %Y') %></p>
          </div>
          <div class="col-xl-4 index-prestations my-2">
            <p class="index-location-prestation"><%= prestation.location %></p>
          </div>
          <div class="col-xl-1 index-prestations my-2">
            <p class="<%= prestation.status %> text-center"><%= t(prestation.status) %></p>
          </div>
        </div>
    <% end %>
    </div>
  </div>

</div>

