<div class="container">
  <div class="row justify-content-center px-4 py-4">
    <h1>Nouvelle prestation</h1>
  </div>
  <div class="row justify-content-center px-4 py-4 mb-5">
    <div class="col form-label-group">
      <%= simple_form_for @prestation do |f| %>
        <div class="row">
          <div class="col">
            <%= f.input :start_date,
                        as: :string,
                        required: false,
                        input_html: {id: "datepicker"},
                        label: 'Date de début' %>
          </div>
          <div class="col">
            <%= f.input :end_date,
                        as: :string,
                        required: false,
                        input_html: {class: "end_date"},
                        label: 'Date de fin' %>
          </div>
        </div>


        <%= f.input :category,
                    as: :select,
                    collection: Prestation::CATEGORIES,
                    label: 'Catégorie',
                    placeholder: 'Sélectionner le type de la prestation' %>

        <%= f.input :location,
                    as: :string,
                    label: 'Lieu',
                    placeholder: "Indiquer l'adresse de la prestation" %>

        <%= f.input :client,
                    as: :string,
                    label: 'Client',
                    placeholder: "Indiquer l'adresse de la prestation" %>


        <%= f.input :notes,
                    as: :text,
                    label: 'Notes',
                    placeholder: "Ajouter des informations sur la prestation" %>

        <div class="row justify-content-center my-4">
          <%= f.submit "Créer", class: 'pho-btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
