<div class="principale-show-prestation w-100">

  <!-- Titre et boutons -->
  <div class="title-button d-flex bd-highlight">
    <div class="title-button-show-prestation col-md-8 flex-grow-1 bd-highlight">
      <h1 class="mt-5 ml-5 mb-4"> <%= @prestation.title %><span class="green-point">.</span></h1>
    </div>
    <div class="button-modifier-show-prestation col-md-2 d-flex flex-grow-1 bd-highlight">
     <p class="button-modifier">Modifier</p>
    </div>
    <div class="prestation-status-show-prestation col-md-2 d-flex flex-grow-1 bd-highlight">
      <% if @prestation.status == "progress" %>
        <%= link_to finish_prestation_path(@prestation), method: :patch, class: "presta-status"  do %>
         <p class="pho-btn d-flex px-2">Passer en terminé</p>
         <% end %>
        <% else %>
          <p class="d-flex align-tiems-center px-2 ">Terminé</p><i class="far fa-calendar-check"></i>
        <% end %>
    </div>
  </div>

  <!-- Card Taches -->
  <div class="contenu-show-prestation row d-flex pl-5 pt-2 w-100 mb-3">
    <div class="task-show-prestation col-md-5 bg-white">
      <h2 class="task-title-show-prestation pl-3 pt-4 mt-2 ml-4 mb-2 pb-2"> Tâches </h2>
      <% @prestation.tasks.each do |task| %>
        <div class="task-details-show-prestation row d-flex pl-4 ml-4 pb-4">
          <% if task.end_date < Date.today %>
             <p class="task-date-show-prestation past-date text-muted col-md-3 text-left"> <%= l(task.start_date, format: '%d %b') %></p>
             <p class="task-name-show-prestation past-date col-md-9 text-left"> <%= task.name %></p>
          <% elsif task.kind =='évènement' %>
            <p class="task-date-show-prestation date-event-task-show col-md-3 text-left"> <%= l(task.start_date, format: '%d %b') %></p>
            <p class="task-name-show-prestation date-event-task-show col-md-9 text-left"> <i class="fas fa-camera"></i> <%= task.name %></p>
          <% else %>
            <p class="task-date-show-prestation col-md-3 text-left"> <%= l(task.start_date, format: '%d %b') %></p>
            <p class="task-name-show-prestation col-md-9 text-left"> <%= task.name %></p>
          <% end %>

        </div>
      <% end %>
    </div>

    <!-- Cards evenement, client et notes -->
    <div class="evenement-client-notes-show-prestation col-md-7 d-flex flex-column justify-content-between">
      <div class="evenement-show-prestation bg-white d-flex mb-3">
        <div class="event-title-date-show-prestation col-md-6">
          <h2 class="event-title-show-prestation pl-3 pt-4 mt-2 ml-4 mb-2"> Évènement </h2>
          <% if @prestation.start_date != @prestation.end_date %>
            <p class="event-date-show-prestation pl-3 ml-4 pb-4"> <%= l(@prestation.start_date, format: '%d') %> - <%= l(@prestation.end_date, format: '%d %B') %> </p>
          <% else %>
            <p class="event-date-show-prestation pl-3 ml-4 pb-4"> <%= l(@prestation.start_date, format: '%d %B') %> </p>
          <% end %>
        </div>
        <div class="event-location-show-prestation col-md-6 d-flex">
          <p class="text-envent-location-show-prestation"><%= @prestation.location %></p>
        </div>
      </div>

      <div class="client-show-prestation bg-white d-flex mb-3">
        <div class="info-client-show-prestation col-md-6">
          <div class="name-email-client-show-prestation">
            <h2 class="client-name-title-show-prestation pl-3 pt-4 mt-2 ml-4 mb-2"> <%= @prestation.client.first_name %> <%= @prestation.client.last_name %> </h2>
            <p class="email-client-show-prestation pl-3 ml-4 pb-3"> <%= @prestation.client.email %></p>
          </div>
          <div class="contact-info-client-show-prestation pl-5">
            <p class="pb-2 pt-4 phone-number-client-show-prestation p-gray"> <i class="fas fa-phone"></i> <%= @prestation.client.phone_number %> </p>
            <p class="py-2 p-gray"> <i class="fas fa-home"></i> <%= @prestation.client.address  %> </p>
            <% if @prestation.client.partner_name.nil? == false %>
              <p class="py-2 partner-name p-gray"> <i class="fas fa-plus-circle"></i> <%= @prestation.client.partner_name %> </p>
            <% end %>
            <%if @prestation.client.tutoiement == true %>
              <p class="py-2 pb-4 tutoiement-square p-gray"><i class="fas fa-comment"></i> On se tutoie </i></p>
            <% else %>
              <p class="py-2 pb-4 tutoiement-square p-gray"><i class="fas fa-comment"></i> On se vouvoie </i></p>
            <% end %>
          </div>
        </div>
        <div class="photo-client-show-prestation d-flex col-md-6">
          <%= cl_image_tag @prestation.client.photo.key, crop: :fill, width: 270, height: 270, class: "photo-client" %>
        </div>
      </div>

      <div class="notes-show-prestation bg-white flex-grow-1">
        <h2 class="notes-title-show-prestation pl-3 pt-4 mt-4 ml-4 mb-2 pb-2"> Notes </h2>
        <div class="notes-show-prestation d-flex pl-5">
          <p class="pb-5"><%= @prestation.notes %></p>
        </div>
      </div>
    </div>
  </div>
</div>


