<div class="d-flex w-100" id="show-prestation">
  <div class="show-presta-client">

      <h1 class="mt-5 ml-5"> <%= @prestation.category %><span class="green-point">.</span></h1>

    <div class="show-prestation-place-date d-flex align-items-center justify-content-between">
      <div class="div1">
        <% if @prestation.start_date != @prestation.end_date %>
            <p class="event-date-show-prestation show-presta-color font-weight-bold ml-5 mb-2"><i class="far fa-calendar-alt icon mr-2"></i><%= l(@prestation.start_date, format: '%d') %> - <%= l(@prestation.end_date, format: '%d %B %Y') %></p>
        <% else %>
            <p class="event-date-show-prestation show-presta-color font-weight-bold ml-5 mb-2"><i class="far fa-calendar-alt icon mr-2"></i><%= l(@prestation.start_date, format: '%d %B %Y') %></p>
        <% end %>
        <p><i class="fas fa-map-marker-alt ml-5 mb-5 icon-gray mr-2"></i><%= @prestation.location %></p>
      </div>
      <div class="div2">
        <%= link_to 'Modifier', edit_prestation_path(@prestation), class: "pho-btn px-2 mr-5" %>
      </div>
    </div>
    <div class="px-5">
      <p class="border-bottom-light-gray mb-5"></p>
    </div>

    <div>
      <li><%= link_to(client_path(id: @prestation.client.id), class: "link-to-client") do %>
        <h2 class="mx-5 mb-4"><%= @prestation.client.first_name %> <%= @prestation.client.last_name %></h2>
      <% end %>
      <div class="d-flex ml-5 align-items-center">
        <div>
          <%= cl_image_tag @prestation.client.photo.key, crop: :fill, width: 250, height: 250, class: "photo-client" %>
        </div>
        <div class="ml-5">
          <p class="pb-3 p-gray"><i class="fas fa-envelope icon-gray mr-2"></i><%= @prestation.client.email %></p>
          <p class="pb-3 p-gray"> <i class="fas fa-phone icon-gray mr-2"></i><%= @prestation.client.phone_number %> </p>
          <p class="pb-3 p-gray"> <i class="fas fa-home icon-gray mr-2"></i><%= @prestation.client.address  %> </p>
          <% if @prestation.client.partner_name.nil? == false %>
            <p class="pb-3 p-gray"> <i class="fas fa-plus-circle icon-gray mr-2"></i>  <%= @prestation.client.partner_name %> </p>
          <% end %>
          <%if @prestation.client.tutoiement == true %>
            <p class="pb-3 p-gray"><i class="fas fa-comment icon-gray mr-2"></i>  On se tutoie </i></p>
          <% else %>
            <p class="pb-3 p-gray"><i class="fas fa-comment icon-gray mr-2"></i>  On se vouvoie </i></p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="px-5">
      <p class="border-bottom-light-gray mt-5"></p>
    </div>

    <div class="mx-5 mb-5 mt-5">
      <h2>Notes</h2>
         <p class="mt-2 pb-5"><%= @prestation.notes %></p>
    </div>

  </div>


  <div class="show-presta-taches">
    <h2>Tâches</h2>
    <div class="show-presta-border-taches pr-5 w-100">
      <p class="border-bottom-medium-gray"></p>
    </div>


      <div>
        <ul class="container-fluid mt-5">
          <% @prestation.tasks.each do |task| %>
            <li class="card-task white-hover row align-items-center justify-content-between py-2 px-4 mr-4">
              <!-- URGENT TAG-->
              <%= link_to mark_as_urgent_task_path(task), class: "link-mark-as-urgent", method: :patch, remote: true do %>
                <% if task.kind == 'admin' || task.kind == 'rendez-vous' %>
                  <% if task.urgent == true %>
                    <div id="tag-urgent-<%= task.id %>" class="urgent px-0"><i class="fas fa-thumbtack"></i></div>
                  <% else %>
                    <div id="tag-urgent-<%= task.id %>" class="p-gray px-0"><i class="fas fa-thumbtack"></i></div>
                  <% end %>
                <% elsif task.kind == 'évènement' %>
                  <% if task.end_date < Date.today  %>
                    <div id="tag-urgent-<%= task.id %>" class="px-0"><i class="p-gray fas fa-camera"></i></div>
                  <% else %>
                    <div id="tag-urgent-<%= task.id %>" class="px-0"><i class="p-gray fas fa-camera"></i></div>
                  <% end %>
                <% else %>
                  <% if task.urgent == true %>
                    <div id="tag-urgent-<%= task.id %>" class="urgent px-0"><i class="fas fa-palette"></i></div>
                  <% else %>
                    <div id="tag-urgent-<%= task.id %>" class="p-gray px-0"><i class="fas fa-palette"></i></div>
                  <% end %>
                <% end %>
              <% end %>

              <!-- DONE TAG -->
              <%= link_to mark_as_done_task_path(task), class: "link-mark-as-done", method: :patch, remote: true do %>
                <% if task.done %>
                  <div id="tag-done-<%= task.id %>" class="tag-done green pl-2 pr-0"><i class="fas fa-check"></i></div>
                <% else %>
                  <div id="tag-done-<%= task.id %>" class="tag-done p-gray pl-2 pr-0"><i class="fas fa-check"></i></div>
                <% end %>
              <% end %>

              <% if task.end_date < Date.today %>
                <p class="text-truncate col-8 pl-3 p-gray"><%= task.name %></p>
                <div class="e-mail col-1">
                  <%= render "tasks/emails/#{mailto_partial_for_task(task)}", task: task %>
                </div>
                <p class="task-prestation-client text-right p-gray pr-2 col-2"><%= l(task.start_date, format: '%d %b') %></p>
              <% elsif task.kind =='évènement' %>
                <p class="text-truncate col-8 pl-3 green font-weight-bold"><%= task.name %></p>
                <div class="e-mail col-1">
                  <%= render "tasks/emails/#{mailto_partial_for_task(task)}", task: task %>
                </div>
                <p class="task-prestation-client text-right col-2 p-gray pr-2 green font-weight-bold"><%= l(task.start_date, format: '%d %b') %></p>
              <% else %>
                <p class="text-truncate col-8 pl-3"><%= task.name %></p>
                <div class="e-mail col-1">
                  <%= render "tasks/emails/#{mailto_partial_for_task(task)}", task: task %>
                </div>
                <p class="task-prestation-client text-right col-2 p-gray pr-2"><%= l(task.start_date, format: '%d %b') %></p>
              <% end %>
              <% if task.description %>
                <div class="task-description-show d-none">
                  <p><%= task.description %></p>
                </div>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>

  </div>
</div>
