<div class="d-flex w-100">
  <div class="show-presta-client">

    <div class="d-flex align-items-baseline justify-content-between">
      <h1 class="mt-5 ml-5 mb-4"> <%= @prestation.category %><span class="green-point">.</span></h1>
      <div class="d-flex flex-end">
        <p class="pho-btn px-2 mr-4">Modifier</p>
      </div>
    </div>

    <div class="show-prestation-place-date mb-5">
      <% if @prestation.start_date != @prestation.end_date %>
          <p class="event-date-show-prestation show-presta-color  ml-5 mb-2"><i class="far fa-calendar-alt"></i> <%= l(@prestation.start_date, format: '%d') %> - <%= l(@prestation.end_date, format: '%d %B') %></p>
      <% else %>
          <p class="event-date-show-prestation show-presta-color ml-5 mb-2"><i class="far fa-calendar-alt"></i> <%= l(@prestation.start_date, format: '%d %B') %></p>
      <% end %>
      <div class="px-5">
        <p class="border-bottom-light-gray"><i class="fas fa-map-marker-alt mb-5"></i> <%= @prestation.location %></p>
      </div>
    </div>

    <div>
      <h2 class="mx-5 mb-4"><%= @prestation.client.first_name %> <%= @prestation.client.last_name %></h2>
      <div class="d-flex ml-5 align-items-center">
        <div>
          <%= cl_image_tag @prestation.client.photo.key, crop: :fill, width: 250, height: 250, class: "photo-client" %>
        </div>
        <div class="ml-5">
          <p class="pb-3 p-gray"><i class="fas fa-envelope"></i> <%= @prestation.client.email %></p>
          <p class="pb-3 p-gray"> <i class="fas fa-phone"></i> <%= @prestation.client.phone_number %> </p>
          <p class="pb-3 p-gray"> <i class="fas fa-home"></i> <%= @prestation.client.address  %> </p>
          <% if @prestation.client.partner_name.nil? == false %>
            <p class="pb-3 p-gray"> <i class="fas fa-plus-circle"></i> <%= @prestation.client.partner_name %> </p>
          <% end %>
          <%if @prestation.client.tutoiement == true %>
            <p class="pb-3 p-gray"><i class="fas fa-comment"></i> On se tutoie </i></p>
          <% else %>
            <p class="pb-3 p-gray"><i class="fas fa-comment"></i> On se vouvoie </i></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="px-5">
      <p class="border-bottom-light-gray mt-5"></p>
    </div>

    <div class="mx-5 mb-5 mt-5">
      <h2>Notes</h2>
         <p class="mt-2 pb-5"><%= @prestation.notes %></p>
    </div>

  </div>


  <div class="show-presta-taches">
    <h2 class="ml-5 mb-4">Tâches</h2>
    <div class="px-5 w-100">
      <p class="border-bottom-medium-gray mt-5"></p>
    </div>

    <div class="d-flex w-100 ml-5 mt-5">
      <div>
        <% @prestation.tasks.each do |task| %>
          <div class="d-flex">
            <% if task.end_date < Date.today %>
               <p class="p-gray text-left mr-5 mb-3"> <%= l(task.start_date, format: '%d %b') %></p>
               <p class="show-presta-task-name p-gray text-left mr-5 mb-2"> <%= task.name %></p>
            <% elsif task.kind =='évènement' %>
              <p class="show-presta-color text-left mr-5 mb-3"> <%= l(task.start_date, format: '%d %b') %></p>
              <p class="show-presta-task-name show-presta-color text-left mr-5 mb-2"> <i class="fas fa-camera"></i> <%= task.name %></p>
            <% else %>
              <p class="show-presta-color text-left mr-5 mb-3"> <%= l(task.start_date, format: '%d %b') %></p>
              <p class="show-presta-task-name text-left mr-5 mb-2"> <%= task.name %></p>
            <% end %>
          </div>
        <% end %>
      </div>

  </div>
</div>
