<!-- TASK SHOW -->
<div class="container-fluid">


  <!-- Infos Prestation & Client -->
  <div class="row my-4 justify-content-between align-items-center">
    <div class="col-6 px-0">
      <p class="px-0 m-gray"><%= task.prestation.category.upcase %> - <%= task.prestation.client.last_name %></p>
    </div>
    <div class="col-6 px-0">
      <% if task.prestation.start_date != task.prestation.end_date %>
        <p class="text-right m-gray"><%= l(task.prestation.start_date, format: '%d') %> - <%= l(task.prestation.end_date, format: '%d %B %Y') %></p>
      <% else %>
        <p class="text-right m-gray"><%= l(task.prestation.start_date, format: '%d %B %Y') %></p>
      <% end %>
    </div>
  </div>

  <!-- Task name -->
  <div class="row justify-content-between align-items-center">
    <div class="task-name">
      <h2><%= task.name %></h2>
    </div>
    <div class="col">
      <div class="e-mail-task">
      <%= render "tasks/emails/#{mailto_partial_for_task(task)}", task: task, :@prestation => task.prestation, class: "e-mail-task" %>
      </div>
    </div>
  </div>

  <!-- Task dates -->
  <div class="row mt-1 justify-content-between">
    <div class="col px-0">
      <!-- <p class="medium-gray"><i class="far fa-calendar mr-2"></i> <%= l(task.start_date, format: '%d %B') %></p> -->
      <% if task.start_date == Date.today %>
        <p class="medium-gray"><i class="far fa-calendar mr-2"></i> Aujourd'hui</p>
      <% elsif task.start_date == Date.tomorrow %>
        <p class="medium-gray"><i class="far fa-calendar mr-2"></i> Demain</p>
      <% else %>
        <% if task.start_date.cweek == Date.today.cweek %>
          <p class="medium-gray"><i class="far fa-calendar mr-2"></i> <%= l(task.start_date, format: '%A') %></p>
        <% else %>
          <p class="medium-gray"><i class="far fa-calendar mr-2"></i> <%= l(task.start_date, format: '%d %B') %></p>
        <% end %>
      <% end %>
    </div>
  </div>

  <!-- Task description -->
  <div class="row my-3 task-description">
    <p class="text-justify medium-gray"><%= task.description %></p>
  </div>
  <!-- Modify button -->
  <div class="row justify-content-end">
    <button class="modify pho-btn">Modifier</button>
  </div>
</div>
<!-- END OF TASK SHOW -->
