<div class="container-fluid" id="dashboard">
  <div class="row h-100">
    <div class="col-7 px-0">
      <div class="dashboard-todo pt-5 px-5 p-4 h-100">
        <div class="d-flex mb-5 align-items-end justify-content-between">
          <h1 class="">Tâches<span class="green-point">.</span></h1>
          <h4><%= l(Date.today, format: '%A %d %B') %> <i class="far fa-calendar-alt"></i></h4>
        </div>
          <ul>
            <li>
              <% @todo_by_day.each do |day, tasks| %>
                <div class="day-tasks mb-5">
                  <% if day == Date.today %>
                    <h3 class="mb-3">Aujourd'hui</h3>
                  <% elsif day == Date.tomorrow %>
                    <h3 class="mb-3">Demain</h3>
                  <% else %>
                    <% if day.cweek == Date.today.cweek %>
                      <h3 class="mb-3"><%= l(day, format: '%A') %></h3>
                    <% else %>
                      <h3 class="mb-3"><%= l(day, format: '%A %d %B') %></h3>
                    <% end %>
                  <% end %>
                  <ul class="container-fluid">
                    <% tasks.each do |task| %>
                    <li class="card-task row align-items-center justify-content-between py-2 px-2">
                      <div id="card-task-<%= task.id %>" class="col d-flex">
                        <%= render 'cardtask', task: task %>
                      </div>
                      <!-- Slide-in : Task #Show -->
                      <div class="cd-panel js-cd-panel-main">
                        <div class="cd-panel__container">
                          <%= render 'show', task: task %>
                        </div>
                      </div>
                    </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </li>
          </ul>
      </div>
    </div>
    <div class="col-5 px-0">
      <div class="dashboard-interactions">
        <div class="dashboard-evenements pt-5 px-5 p-4 h-50">
          <h1 class="mb-5">Évènements<span class="green-point">.</span></h1>
          <ul class="container-fluid">
            <% @evenement.each do |task| %>
              <% if task.start_date == Date.today %>
                <%= link_to prestation_path(task.prestation), class: "card-task-link" do %>
                  <li class="card-date-task row align-items-center my-1">
                    <% if task.start_date != task.end_date %>
                      <p class="col-3 green-point font-weight-bold"><%= l(task.start_date, format: '%d') %> - <%= l(task.end_date, format: '%d %b') %></p>
                    <% else %>
                      <% if task.start_date == Date.today %>
                        <p class="col-3 green-point font-weight-bold">Aujourd'hui</p>
                      <% elsif task.start_date == Date.tomorrow %>
                        <p class="col-3 green-point font-weight-bold">Demain</p>
                      <% else %>
                        <% if task.start_date.cweek == Date.today.cweek %>
                          <p class="col-3 green-point font-weight-bold"><%= l(task.start_date, format: '%A') %></p>
                        <% else %>
                          <p class="col-3 green-point font-weight-bold"><%= l(task.start_date, format: '%d %B') %></p>
                        <% end %>
                      <% end %>
                    <% end %>
                    <p class="col-9 pl-3 font-weight-bold"><%= task.prestation.category.upcase %> - <%=  task.prestation.client.last_name %></p>
                  </li>
                <% end %>
              <% else %>
                <%= link_to prestation_path(task.prestation), class: "card-task-link" do %>
                  <li class="card-date-task row align-items-center my-1">
                    <% if task.start_date != task.end_date %>
                      <p class="col-3 green-point"><%= l(task.start_date, format: '%d') %> - <%= l(task.end_date, format: '%d %b') %></p>
                    <% else %>
                      <% if task.start_date == Date.tomorrow %>
                        <p class="col-3 green-point">Demain</p>
                      <% else %>
                        <% if task.start_date.cweek == Date.today.cweek %>
                          <p class="col-3 green-point"><%= l(task.start_date, format: '%A') %></p>
                        <% else %>
                          <p class="col-3 green-point"><%= l(task.start_date, format: '%d %B') %></p>
                        <% end %>
                      <% end %>
                    <% end %>
                    <p class="col-9 pl-3"><%= task.prestation.category.upcase %> - <%=  task.prestation.client.last_name %></p>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
        <div class="dashboard-rdv pt-5 px-5 p-4 h-50">
          <h1 class="mb-4">RDV<span class="green-point">.</span></h1>
          <ul class="container-fluid">
            <% @rdv.each do |task| %>
              <% if task.start_date == Date.today %>
                <%= link_to prestation_path(task.prestation), class: "card-task-link" do %>
                  <li class="card-date-task row align-items-top mb-2">
                    <% if task.start_date != task.end_date %>
                      <p class="col-3 green-point font-weight-bold"><%= l(task.start_date, format: '%d') %> - <%= l(task.end_date, format: '%d %b') %></p>
                    <% else %>
                      <p class="col-3 green-point font-weight-bold">Aujourd'hui</p>
                    <% end %>
                    <div class="col-9 pl-3">
                      <p class="font-weight-bold"><%= task.name %></p>
                      <p class="p-gray font-weight-bold"><%= task.prestation.category.upcase %> - <%=  task.prestation.client.last_name %></p>
                    </div>
                  </li>
                <% end %>
              <% else %>
                <%= link_to prestation_path(task.prestation), class: "card-task-link" do %>
                  <li class="card-date-task row align-items-top mb-2">
                    <% if task.start_date != task.end_date %>
                      <p class="col-3 green-point"><%= l(task.start_date, format: '%d') %> - <%= l(task.end_date, format: '%d %b') %></p>
                    <% else %>
                      <% if task.start_date == Date.tomorrow %>
                        <p class="col-3 green-point">Demain</p>
                      <% else %>
                        <% if task.start_date.cweek == Date.today.cweek %>
                          <p class="col-3 green-point"><%= l(task.start_date, format: '%A') %></p>
                        <% else %>
                          <p class="col-3 green-point"><%= l(task.start_date, format: '%d %B') %></p>
                        <% end %>
                      <% end %>
                    <% end %>
                    <div class="col-9 pl-3">
                      <p><%= task.name %></p>
                      <p class="p-gray"><%= task.prestation.category.upcase %> - <%=  task.prestation.client.last_name %></p>
                    </div>
                  </li>
                <% end %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
