<div class="principale-index-client bg-white w-100">
<h1 class="mt-5 ml-5">Liste des clients<span class="green-point">.</span></h1>

  <div class="container-index-client d-flex row m-3">
    <% @clients.each do |client| %>
      <div class="col-md-3 px-0">
        <div class="card-client m-4">
          <%= link_to client_path(client), class: "link-text-index" do  %>
            <%= cl_image_tag client.photo.key, crop: :scale, width: 400, height: 220, class: "photo-client-index"%>
            <div class="info-card-client">
              <p class="index-title-client mt-2 text-center"><%= client.first_name %> <%= client.last_name %></p>
              <div class="phone-client mt-2 d-flex px-3 pb-3">
                <i class="fas fa-phone lm-gray mr-2 mt-1"></i>
                <p class="m-gray"><%= client.phone_number %></p>
              </div>
              <div class="e-mail-client d-flex px-3 pb-3">
                <i class="fas fa-envelope lm-gray mr-2 mt-1"></i>
                <p class="m-gray"><%= client.email %></p>
              </div>
              <div class="count-status-client row d-flex">
                <div class="prestation-client-index d-flex col-md-6 p-3">
                  <p class= "green text-right"><%= client.prestations.count %><i class="fas fa-camera green col-md-1 px-2"></i></p>
                </div>
                <div class="prestation-client-index d-flex col-md-6 justify-content-center align-items-center">
                  <% if client.prestations.count >= 1 %>
                    <% if client.prestations.any? { |prestation| prestation.status == "progress"} %>
                       <p class="light-pink progress size-progress">En cours</p>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
